@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
html,
body {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dee6ee;
}

nav {
  background-color: #eff3f7;
}

.card {
  @apply container bg-slate-100 flex shadow-md flex-wrap w-full;
}

.navtab {
  @apply rounded-lg p-3 text-slate-700 hover:bg-indigo-100 flex items-center;
}

.cover {
  background-color: #0000006b;
  transition: background-color .2s ease;
}

.cover:hover {
  background-color: #000000ad;
}
.munderline::after {
  content: "";
  border-bottom: solid 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.munderline:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@-webkit-keyframes munderline {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes munderline {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/* 
  github-markdown
*/

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  @apply bg-slate-100 !important;
}

.markdown-body > ul {
  list-style: disc !important;
}
.markdown-body > ol {
  list-style: decimal !important;
}


@media (max-width: 767px) {
  .markdown-body {
    padding: 18px;
  }
}

/**
* prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
* Based on https://github.com/chriskempson/tomorrow-theme
*
* @author Rose Pritchard
*/

.token {
  font-family: 'Encode Sans', sans-serif;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #67cdcc;
}
