/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&family=Noto+Serif:wght@500&display=swap');
#app,
html,
body {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #dee6ee;
  font-family: 'Noto Serif', serif;
  font-family: 'Noto Serif SC', serif;
}

nav {
  background-color: #eff3f7;
}

.card {
  @apply container bg-slate-100 flex shadow-md flex-wrap w-full rounded-xl;
}

.navtab{
  @apply rounded-lg p-3 text-slate-700 font-medium hover:bg-indigo-100 flex items-center text-xl;
}
