@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  @apply dark:!bg-slate-900 bg-slate-200;
}


html {
  height: 100%;
  font-family: 'Noto Serif SC', serif;
}

nav {
  @apply bg-slate-100 dark:bg-slate-800;
}

.card {
  @apply container bg-slate-100 flex shadow-lg flex-wrap w-full dark:bg-slate-800 dark:text-white;
}

.navtab {
  @apply hover:text-blue-400 rounded-lg p-3 text-black dark:text-white hover:bg-indigo-100 dark:hover:bg-slate-500 flex items-center;
}

.cover {
  background-color: #0000006b;
  transition: background-color .2s ease;
}

.cover:hover {
  background-color: #000000ad;
}

.munderline::after {
  content: "";
  border-bottom: solid 4px;
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.munderline:hover::after {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@-webkit-keyframes munderline {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes munderline {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* 
  github-markdown
*/

code {
  font-family: 'Source Code Pro', monospace;
}

.markdown-body {
  font-family: 'Noto Serif SC','Encode Sans', serif !important;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 35px;
  @apply !bg-slate-100 dark:!bg-slate-800;
}

.markdown-body img:hover{
  cursor: zoom-in;
}

.markdown-body img{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.markdown-body>ul {
  list-style: disc !important;
}

.markdown-body>ol {
  list-style: decimal !important;
}



@media (max-width: 767px) {
  .markdown-body {
    padding: 18px;
  }
}

.heading-anchor {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im0xNC45IDE5LjE0MmwtLjcwOC0uNzA3Yy0yLjEyLTIuMTIxLTIuMTItNC45NSAwLTcuMDcxbDIuODI5LTIuODI4YzIuMTIxLTIuMTIyIDQuOTUtMi4xMjIgNy4wNyAwYzIuMTIyIDIuMTIgMi4xMjIgNC45NSAwIDcuMDdtLTYuMzYzLTIuMTJsLjcwNy43MDZjMi4xMjEgMi4xMjIgMi4xMjEgNC45NSAwIDcuMDcybC0yLjgyOCAyLjgyOGMtMi4xMjIgMi4xMjEtNC45NSAyLjEyMS03LjA3MSAwYy0yLjEyMi0yLjEyMS0yLjEyMi00Ljk1IDAtNy4wNzEiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1.5em;
  background-position: bottom;
}
/**
 * Solarized dark atom theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Pranay Chauhan (@PranayChauhan2516)
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #839496;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #586e75;
 }
 
 .token.punctuation {
   color: #93a1a1;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.keyword,
 .token.tag {
   color: #268bd2;
 }
 
 .token.class-name {
   color: #FFFFB6;
   text-decoration: underline;
 }
 
 .token.boolean,
 .token.constant {
   color: #b58900;
 }
 
 .token.symbol,
 .token.deleted {
   color: #dc322f;
 }
 
 .token.number {
   color: #859900;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #859900;
 }
 
 .token.variable {
   color: #268bd2;
 }
 
 .token.operator {
   @apply dark:text-[#EDEDED] text-black  
 }
 
 .token.function {
   color: #268bd2;
 }
 
 .token.regex {
   color: #E9C062;
 }
 
 .token.important {
   color: #fd971f;
 }
 
 .token.entity {
   color: #FFFFB6;
   cursor: help;
 }
 
 .token.url {
   color: #96CBFE;
 }
 
 .language-css .token.string,
 .style .token.string {
   color: #87C38A;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.atrule,
 .token.attr-value {
   color: #F9EE98;
 }